*{
    border:1px solid red;
    margin:0px;
}
nav{
    margin-top:70px;
    display:flex;
    justify-content: space-between;
}
body{
    width:80%;
    margin:auto;
}
.container{
    height:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1.5fr 1fr 1fr;

}
#big{
    grid-column:1/3;
    grid-row:1/2;
}
.container > h1 {
    grid-column: 1/2;
    gird-row:1/2;
}
.readmore-box{
    grid-column:2/3;
    grid-row:2/3;
}

.news-box{
    grid-column:3/4;
    grid-row:1/3;
}
