@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root{
    --softOrange:hsl(35, 77%, 62%);
    --softRed:hsl(5, 85%, 63%);

    --offWhite:hsl(36, 100%, 99%);
    --grayishBlue:hsl(233, 8%, 79%);
    --darkGrayishBlue:hsl(236, 13%, 42%);
    --veryDarkBlue:hsl(240, 100%, 5%);

    --pSize:15px;
}
*{
    /* border:1px solid red; */
    margin:0px;
}
body{
    width:80%;
    margin:auto;
    font-size:var(--pSize);
    font-family: 'Inter';
    font-weight: 400;
}
nav{
    margin-top:70px;
    margin-bottom:30px;
    display:flex;
    justify-content: space-between;
}
.menu{
    width:40%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    height:100%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1.5fr 1fr 1fr;
    gap:20px;

}
#big{
    grid-column:1/3;
    grid-row:1/2;
    overflow:hidden;
}
.container > h1 {
    grid-column: 1/2;
    grid-row:2/3;
    font-weight:800;
    font-size:55px;
}
.readmore-box{
    grid-column:2/3;
    grid-row:2/3;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.button{
    background-color:red;

    font-size: 20px;
    display:flex;
    width:50%; 
    height:25%;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
}

.news-box{
    grid-column:3/4;
    grid-row:1/3;
    padding:25px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;

    background-color:var(--veryDarkBlue);
}
.news-box > h2 {
    margin-top:20px;
    font-size:40px;
    font-weight:700;
    color:var(--softOrange);
}
.news-content{
    display:flex;
    flex-direction: column;
    margin-bottom:15px;
}
.news-content:nth-child(n+3){
    margin-top:15px;
    border-top:1px solid var(--grayishBlue);

}
.news-content > a {
    text-decoration: none;
    font-weight:700;
    font-size:20px;
    letter-spacing: 1px;
    color:var(--offWhite);
    padding-top:40px;
}
.news-content >p {
    margin-top:10px;
    line-height: 150%;
    color:var(--grayishBlue);
}

.bottom-content{
    margin-top:25px;
    display:grid;
    grid-template-columns: 1.5fr 4fr;
    gap:15px;
    height:fit-content;
}
.bottom-content > .text-box{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.bottom-content > img{
    max-width:100%;
    grid-column:1/2;
    object-fit: cover;
}
